<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<h1>We are glad to see you on the main page of our Bank_ex </h1>

<a href="/api/v1/clients/p1">Balance id1</a>
<a href="/api/v1/clients/p2">Balance id2</a>
<a href="/api/v1/clients/p3">Balance id3</a>
<a href="/api/v1/clients/p4">Balance id4</a>
<a href="/api/v1/clients/p5">Balance id5</a>
<a href="/api/v1/clients/p6">Balance id6</a>
<a href="/api/v1/clients/p7">Balance id7</a>
<a href="/api/v1/clients/p8">Balance id8</a>
<a href="/api/v1/clients/p9">Balance id9</a>
<a href="/api/v1/clients/p10">Balance id10</a>

</body>
</html>